<form novalidate [formGroup]="examForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput #input formControlName="subject" placeholder="Enter Subject name" type="text" required>
        <mat-hint align="end">{{input.value?.length || 0}}</mat-hint>
      </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branch">
              <mat-option *ngFor="let branch of branchs" [value]="branch.value" required>
                {{branch.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </p>
    <p>
          <mat-form-field>
            <mat-label>Semester</mat-label>
            <mat-select formControlName="semester">
              <mat-option *ngFor="let branch of sem" [value]="branch.value" required>
                {{branch.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Pick Time</mat-label>
            <input matInput formControlName="time" placeholder="Enter Time With AM OR PM" type="time" required>
        </mat-form-field>
    </p>

    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="examForm.invalid">Submit</button>
</form>