<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmitFirst()">
        <ng-template matStepLabel matStepperIcon="done">Fill out your name and Email </ng-template>
        <mat-form-field hintLabel="Max 15 characters" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput #input maxlength="15" placeholder="Enter First name" formControlName="firstname" type="text" required>
          <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        </mat-form-field>
        <mat-form-field hintLabel="Max 15 characters" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput #input1 maxlength="15" placeholder="Enter Last name" formControlName="lastname" required>
          <mat-hint align="end">{{input1.value?.length || 0}}/15</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email-Id</mat-label>
          <input matInput placeholder="Enter Email Address" formControlName="emailid" pattern="(^.+.+.+.+.+\b(nirmauni.ac.in)\b)" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitSecond()">
        <ng-template matStepLabel>Fill out the details</ng-template>
        <mat-form-field>
          <mat-label>Branch</mat-label>
          <mat-select formControlName="branch">
            <mat-option *ngFor="let branch of branchs" [value]="branch.value" required>
              {{branch.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Semester</mat-label>
          <mat-select formControlName="semester">
            <mat-option *ngFor="let branch of sem" [value]="branch.value" required>
              {{branch.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field hintLabel="10 digits only">
            <mat-label>Mobile-No</mat-label>
            <input matInput #input2 minlength="10" maxlength="10" formControlName="contactno" placeholder="Enter Mobile number" pattern="[6-9][0-9]*" required>
            <mat-hint align="end">{{input2.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
        
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      
        <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitThird()">
            <ng-template matStepLabel>Enter password and re-enter password</ng-template>
            <mat-form-field hintLabel="Minimimun length 8 digits">
              <mat-label>Password</mat-label>
              <input matInput pPassword ui-password-info name="password" #password minlength="8" type="password" formControlName="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
              
            </mat-form-field>
            <mat-form-field>
                <mat-label>Re-Enter Password</mat-label>
                <input matInput #input4 minlength="8" type="password" formControlName="renterpassword" placeholder="Re-Enter Password" pattern="{{ password.value }}" >
              </mat-form-field>
              {{ thirdFormGroup.value.password }}

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button *ngIf ="temp&&onsubmitsignupvalues" mat-button matStepperNext [disabled]="thirdFormGroup.invalid">Confirm</button>
              <button mat-button (click)="stepper.reset()" (click)="reset()">Reset</button>
            </div>
            <!-- <mat-slide-toggle formControlName="staff">Staff-Member? Please slide</mat-slide-toggle> -->
          </form>
          <div> Some important instuctions:
            <ul>
              <li>If two password doesn't match then next button will remain disappered</li>
              <li>pattern must be follow as given below</li>
              <ul>
              <li>Minimimun Length of password is 8.</li>
              <li>Password must contain one Uppercase, one integer and one lowercase characters.</li>
            </ul>
          </ul>
           
          </div>
    </mat-step>
    <!-- <mat-step *ngIf ="temp&&temp1&&temp2">
      <ng-template matStepLabel>You're Done. Thank You for Sign-In</ng-template>
      <p>We will try to give you best service.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()" (click)="reset()">Reset</button>
         <button mat-button (click)="Confirm()">Confirm </button> -->
         <!-- <button mat-button routerLink="/home">Home</button> --> -->
      <!-- </div> -->
    <!-- </mat-step> --> -->
  </mat-horizontal-stepper>

  <p-messages [(value)]="msgs"></p-messages>
  <!-- <p-messages -->
